#middleCoin{
    position: absolute;
    top: 0;
    left: 20%;
    width: 350px;
}
#coeText{
    position: absolute;
    bottom: 40%;
    right: 20%;
    width: 350px;
    height: 120px;
    z-index: 10;
}
#ceroText{
    position: absolute;
    top: 10;
    left: 0;
    /* width: 350px;
    height: 150px; */
}

#bigCoin{
    position: absolute;
    top: 0;
    left: 25%;
    width: 250px;
    height: 150px;
}
.phonePart{
    position: absolute;
    bottom: 0;
    width: calc(100% - 250px);
}

.hero-animation{
    width: 100%;
    height: 100%;

}